.title {
  background-color: #b71c22;
  font-size: 2.2rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
  padding: 2rem 0;
}

.cards {
  display: flex;
  color: #fff;
  gap: 0; /* если нужен отступ между карточками, например gap: 2rem; */
}

.cards > div {
  flex: 1 1 0;
  min-width: 0;
  min-height: 320px; /* или нужная вам высота */
  max-width: 100%;
  display: flex;
  padding: 2.5rem;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  box-sizing: border-box;
}

.cards img {
  width: 64px; /* или нужный размер */
  height: 64px;
  object-fit: contain;
  margin-bottom: 1.5rem;
  display: block;
}
.item_title {
  font-size: 1.3rem;
  font-weight: 600;
  padding-bottom: 1rem;
}

.item_subtitle {
}
.item1 {
  background-color: #151634;
}

.item2 {
  background-color: #25325c;
}

.item3 {
  background-color: #2d406a;
}

.item4 {
  background-color: #425c94;
}
